.contenedor {
  width: 78%;
  margin: 20px auto;
  display: flex;
}

.salaCantidad {
  flex: 5;
  border: 2px solid white;
  height: 800px;
  padding: 20px;
}

.resumenCompra {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.resumenCompra >h4{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 4px;
}
.contenedorImagenResumen{
  /* outline: 1px solid white; */
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  column-gap: 6px;
  height: 60%;
  padding-top: 20px;
}

/* .contenedorResumen{
  border: 1px solid white;
  height: 100%;
} */

.contenedorImagenResumen > img {
  width: 38%;
  align-self: center;
}
.resumenCompra >div {
  /* align-self: flex-start; */
  width: 88%;
}

.titlesResumen ,.valoresResumen {
  display: flex;
  justify-content: space-between;  
}

.valoresResumen {
  color: gray;
  /* outline: solid 1px white; */
}

.valoresResumenButacas {
  display: flex;
  justify-content: center;
  color: gray;
  /* outline: solid 1px white; */
  padding: 0px 20px;
}

.titlesResumen {
  font-weight: bold;
}

.totalPrecio > p {
  margin: 0px;
}
.totalPrecio > p:first-child {
  color: aqua;
  font-weight: bold;
}
.totalPrecio > p:last-child {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.botonComprarCancelar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botonComprarCancelar >button:first-child {
  background-color: #e51937;
  color: #fff;
  height:40px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 35px;
  margin-top: 8px;
}

.botonComprarCancelar >button:first-child:hover {
  background-color: #B7142C;
}

.botonComprarCancelar >button:last-child {
  background: none;
  color: #B7142C;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}
.cantidadEntrada {
  padding-left: 35% ;
  margin-top: 6px;
}

.cantidadEntrada > p{
  margin: 0px;
  color: grey;
}
.resumenTexto {
  height: 100%;
  position: relative;
}
.totalContinuar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.resumenTexto > .totalContinuar {
  position: absolute;
  bottom: 0px;
}

.espacioListaButacas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: #B7142C solid 1px; */
  align-self: center;
}

.espacioListaButacas > p{
  margin-right: 8px;
  margin-bottom: 0px;
}
#paraMargin{
  margin-top: 5px;
  margin-bottom: 7px;
}

.espacioProductoss{
  width: 100%;
  margin-top: 15px;
  height: 230px;
  background-color: #000B1A;
  border-radius: 10px;
  padding: 10px;
  

  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  overflow-x: auto;
  flex-wrap: wrap;
}

/*=====================================================*/

.espacioProductoss::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.espacioProductoss::-webkit-scrollbar-thumb {
  background-color: #1e1e1e; /* Color del "pulgón" de la barra de desplazamiento */
  border-radius: 6px; /* Radio de las esquinas del "pulgón" */
}

.espacioProductoss::-webkit-scrollbar-track {
  background-color: #404040; /* Color del fondo de la barra de desplazamiento */
}

