.contenedor {
  width: 78%;
  margin: 20px auto;
  display: flex;
}

.salaCantidad {
  flex: 5;
  border: 2px solid white;
  height: 800px;
  padding: 20px;
}

.resumenCompra {
  flex: 2;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.resumenCompra >h4{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 12px;
  margin-top: 4px;
}
.resumenCompra > img {
  width: 38%;
}

.resumenCompra >div {
  /* align-self: flex-start; */
  width: 80%;
}

.titlesResumen ,.valoresResumen {
  display: flex;
  justify-content: space-between;
}

.valoresResumen {
  color: gray;
}

.titlesResumen {
  font-weight: bold;
}

.totalPrecio > p {
  margin: 0px;
}
.totalPrecio > p:first-child {
  color: aqua;
  font-weight: bold;
}
.totalPrecio > p:last-child {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.botonComprarCancelar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.botonComprarCancelar >button:first-child {
  background-color: #e51937;
  color: #fff;
  height:40px;
  width: 150px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  border-radius: 35px;
  margin-top: 8px;
}

.botonComprarCancelar >button:first-child:hover {
  background-color: #B7142C;
}

.botonComprarCancelar >button:last-child {
  background: none;
  color: #B7142C;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.cantidadEntrada > p{
  margin: 0px;
  color: grey;
}
.resumenTexto {
  height: 100%;
  position: relative;
}
.totalContinuar {
  width: 100%;
}
.resumenTexto > .totalContinuar {
  position: absolute;
  bottom: 0px;
}

.espacioListaButacas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.espacioListaButacas > p{
  margin-right: 8px;
  margin-bottom: 0px;
}
#paraMargin{
  margin-top: 5px;
  margin-bottom: 7px;
}